/*html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
  }
  h1 {
    font-size: 80px;
    text-align: center;
  }
  
  p, li {
    font-size: 20px;    
    line-height: 2;
    letter-spacing: 1px;
  }
  html {
    background-color: rgb(82, 247, 225);
  }
 
body {
    width: 600px;
    margin: 0 auto;
    background-color: rgb(255, 248, 157);
    padding: 0 20px 1000px 40px;
    border: 5px solid black;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 1px black;
  }  
  img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }*/
  h2 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 1px black;
  }  
  h2 {
    font-size: 80px;
    text-align: center;
  }
  h3 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 1px black;
  }  
  h3 {
    font-size: 80px;
    text-align: center;
  }
  h4 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 1px black;
  }  
  h4 {
    font-size: 70px;
    text-align: center;
  }
  h5 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(74, 0, 248);
    text-shadow: 0px 0px 0px black;
  }  
  h5 {
    font-size: 50px;
    text-align: center;
  }



  * {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  
  /* Header/logo Title */
  .Note {
    padding: 0.001px;
    text-align: center;
    background: #1d34ff;
    color: white;
  }
  h6 {  
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-align: center;
  }
  h1 {
    margin: 0;
    padding: 20px 0;    
    color: rgb(255, 0, 0);
    text-shadow: 3px 3px 1px black;
  }  
  h1 {
    font-size: 80px;
    text-align: center;
  } 

  .header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .page1 {
    flex: 30%;
    background-color: #6cf5ff;
    padding: 20px;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 400px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }
